<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Timestamp Microservice</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <h1>Timestamp Microservice</h1>
    <h2>Example Usage:</h2>
    <ul>
        <li><code>GET [server url]/api/timestamp/2015-12-25</code></li>
        <li><code>GET [server url]/api/timestamp/1450137600</code></li>
    </ul>
    <h2>Example Output:</h2>
    <p>
        <code>{"unix":1451001600,"utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
    </p>
</div>
</body>
</html>
